body {
    font-family: 'Cairo', sans-serif;/* يخفي شريط التمرير من جميع العناصر في الصفحة */
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer و Edge القديم */
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none; /* Chrome, Safari, Edge */
}


 /* .page-wrapper {
            max-width: 100%;
            margin: 0 auto;
            
        }

        @media (min-width: 768px) {
            body {
              
                display: flex;
                justify-content: center;
                
            }

            .page-wrapper {
                max-width: 700px;
                width: 100%;
               
                
                overflow: hidden;
            }
          } */